/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/

/*.input {*/
/*    @apply border rounded px-4 py-2 w-full;*/
/*}*/

/*.btn-primary {*/
/*    @apply bg-green-600 text-white px-6 py-3 rounded hover:bg-green-700;*/
/*}*/
